extends ../layout 

block content

    a(href="/bicicletas") Volver

    br

    br

    br

    hi Nueva bicicleta
    
    br 

    br 

    form(action="/bicicletas/create" method="post")

        label(for="id") ID: 

        input#id(type="text" name="id")

        br

        br

        br

        label(for="color") Color: 

        input#id(type="text" name="color")

        br

        br

        br
        label(for="latitud") Latitud: 

        input#id(type="text" name="latitud")

        br

        br

        br

        label(for="longitud") Longitud: 

        input#id(type="text" name="longitud")
        
        br

        br

        br

        input.btn(type="submit" value="OK")